.jumbotron {
  text-align: center;
  background-image: url(../img/banner.jpg);
  color: white;
  border: #E0B15A 2px solid;
}

.jumbotron h1 {
  font-size: 3em;
  font-weight: bold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

body {
  background-image: url(../img/food.png);
}

.radio-inline, .checkbox-inline {
  margin-right: 10px;
}

#delivery-address, #back {
  display:none;
}
